// Typography
$font-family-sans-serif: 'Nunito', sans-serif;

// Background Colors
$default-light: #efefef;
$default-dark: #1f1f1f;
$default-dark-darker: #131313;

//Colors
$white: #FFFFFF; //Normal White Color
$default-dark-inverse: #b9b9b9; //Inverse text color of $default-dark backgorund color
$default-dark-darker-border: #2f2f2f //Border color of $default-dark-darker background color
